@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  padding: 0px 0px 40px 0px !important;
}

.swiper-pagination-bullet {
  background-color: #ff6d1f !important;
}

.counterSide::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 40%;
  transform: translateX(-50%);
  width: 40px;
  height: 200%;
  background-color: #ff6d1f;
  z-index: -3;
  animation: loop 3s infinite linear;
}

.counterSide::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 6px;
  background-color: white;
  z-index: -1;
}
@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
