@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  padding: 0px 0px 40px 0px !important;
}

.swiper-pagination-bullet {
  background-color: #ff6d1f !important;
}

.counterSide::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 33%;
  width: 40px;
  height: 200%;
  background-color: #ff6d1f;
  z-index: -3;
  animation: loop 3s linear 4;
}

.counterSide::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 6px;
  background-color: white;
  z-index: -1;
}

.contact-shadow {
  box-shadow: 0px 5px 24px 4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 5px 24px 4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 24px 4px rgba(0, 0, 0, 0.17);
}
.dir-ltr {
  direction: ltr;
}
@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* course loading */
.loader {
  width: 215px;
  height: 215px;
  display: block;
  margin: auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  width: calc(100%);
  height: calc(100%);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 16px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}

/* select loading */

.loaderSelect {
  width: 360px;
  height: 100px;
  display: block;
  background-image: linear-gradient(
      100deg,
      transparent,
      rgba(38, 50, 56, 0.5) 50%,
      transparent 80%
    ),
    linear-gradient(rgba(128, 128, 128, 0.466) 100px, transparent 0),
    linear-gradient(gray 20px, transparent 0),
    linear-gradient(gray 20px, transparent 0),
    linear-gradient(gray 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 100px, 100px 100px, 125px 20px, 260px 20px, 260px 20px;
  background-position: -50% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  }
  100% {
    background-position: 100% 0, 0 0, 120px 0, 120px 40px, 120px 80px,
      120px 120px;
  }
}
