@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  padding: 0px 0px 40px 0px !important;
}

.swiper-pagination-bullet {
  background-color: #ff6d1f !important;
}

.counterSide::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 33%;
  width: 40px;
  height: 200%;
  background-color: #ff6d1f;
  z-index: -3;
  animation: loop 3s linear 4;
}

.counterSide::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 6px;
  background-color: white;
  z-index: -1;
}

.contact-shadow {
  box-shadow: 0px 5px 24px 4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 5px 24px 4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 24px 4px rgba(0, 0, 0, 0.17);
}
.dir-ltr {
  direction: ltr;
}
@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loaderAnimation {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
